.cf:before,
.cf:after {
    content: ""; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}

.wrapper {
	width: 600px;
	margin: 30px auto 0;
}

h3	{
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-bottom: 1px solid #ccc;
}
section	{
	margin-bottom: 60px;
}
.col {
	padding: 20px;
}
.col p {
	color: #555;
}
.left {
	background-color: ghostwhite;
}
.right {
	background-color: lightsteelblue;
}

.old .col {
	float: left;
}
.old .left {
	width: 310px;
}
.old .right {
	width: 210px;
}

.flex {
	display: -webkit-flex;
	display: flex;
}

.flex2 {
	display: -webkit-flex;
	display: flex;
}
.flex2 .left {
	display: -webkit-flex;
	display: flex;
	width: 310px;
}
.flex2 .right {
	width: 210px; 
}
.flex2 .left {
	display: -webkit-flex;
	display: flex;
}
.flex2 .left p:nth-child(1) {
	padding-right: 10px;
}
.flex2 .left p:nth-child(2) {
	padding-left: 10px;
}
